<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
  </li>
  <li>
  <%= link_to "New Post", new_post_path %>
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path) %>  
  </li>
<% end %>

<h1>Posts</h1>

<ul>
  <% @posts.each do |post| %>
    <li>
      <%= post.body %>
      <% if user_signed_in? %>
      <% author_id = post.user_id %>
      <div>
      <%= "posted by" %>
      <%= @users.find(author_id).username%>
      </div>
      <% end %>
    </li>
  <% end %>
</ul>